@import "../../variables";

.appWindow {
    height: calc(100vh - 5rem);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.appMainWindow {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: center;
    color: $secondaryTextColor;
    overflow-y: auto;

    background-color: #FFFFFF;

    background-image: url("../../assets/gray-floral.png");
}