@import url("https://fonts.googleapis.com/css?family=Kalam:300,400,700&subset=latin-ext");
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");

$primaryTextColor: #DAF6F5;
$secondaryTextColor: #0F5F5C;
$bgColorLight: #83CCC9;
$bgColorDark: #3B928F;
$bgColorDarkest: #0F5F5C;

$emphasizeColor: #E16328;
$buttonTextColor: #FFFFFF;

$primaryTextColor2: #EEDDF7;
$secondaryTextColor2: #4B1569;
$bgColorLight2: #BA8CD4;
$bgColorDark2: #8046A0;
$bgColorDarkest2: #4B1569;

$primaryTextColor3: #FFFFE2;
$secondaryTextColor3: #9D9B18;
$bgColorLight3: #FFFEA4;
$bgColorDark3: #F0EE61;
$bgColorDarkest3: #9D9B18;

